In [16]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Professor Hellyson/Global/dataset_tomate2.csv')
data.dropna(axis=1,inplace=True)
data.drop('id', axis = 1, inplace=True)
data.head(133)

     trat  NDVI_d28  SAVI_d28  ...   MCARI1_d08    SR_d08  Classe
0     102  0.798284  1.197380  ...  13352.81776  5.421333       1
1      11  0.806955  1.210392  ...  16190.82038  6.491860       0
2     103  0.825104  1.237610  ...  15313.16198  6.551268       1
3     112  0.788884  1.183279  ...  16562.17418  6.608121       1
4     114  0.764986  1.147432  ...  13760.95583  5.665567       1
..    ...       ...       ...  ...          ...       ...     ...
127    82  0.750210  1.125268  ...  11584.92863  4.928687       1
128    81  0.807576  1.211321  ...  13727.74708  6.049484       1
129    84  0.781299  1.171903  ...  13901.73759  5.240016       1
130    92  0.760722  1.141037  ...  14067.88995  5.514438       1
131    93  0.775178  1.162720  ...  15801.33386  6.342296       1

[132 rows x 22 columns]

In [26]:
  import numpy as np
  from sklearn.preprocessing import MinMaxScaler

In [27]:
def normaliza(coluna):

  X = np.array(data[coluna]).reshape(-1,1)
  scaler = MinMaxScaler()
  scaler.fit(X)
  X_scaled = scaler.transform(X)
  data[coluna] = X_scaled.reshape(1,-1)[0]

In [28]:
normaliza('trat')
normaliza('MCARI1_d28')
normaliza('SR_d28')
normaliza('MCARI1_d01')
normaliza('MCARI1_d04')
normaliza('SR_d01')
normaliza('MCARI1_d08')
normaliza('SR_d08')
normaliza('SR_d04')

In [29]:
data.head(133)

         trat  NDVI_d28  SAVI_d28  ...  MCARI1_d08    SR_d08  Classe
0    0.281734  0.798284  1.197380  ...    0.159900  0.094783       1
1    0.000000  0.806955  1.210392  ...    0.400143  0.290298       0
2    0.284830  0.825104  1.237610  ...    0.325847  0.301148       1
3    0.312693  0.788884  1.183279  ...    0.431579  0.311532       1
4    0.318885  0.764986  1.147432  ...    0.194450  0.139388       1
..        ...       ...       ...  ...         ...       ...     ...
127  0.219814  0.750210  1.125268  ...    0.010244  0.004808       1
128  0.216718  0.807576  1.211321  ...    0.191638  0.209505       1
129  0.226006  0.781299  1.171903  ...    0.206367  0.061668       1
130  0.250774  0.760722  1.141037  ...    0.220432  0.111787       1
131  0.253870  0.775178  1.162720  ...    0.367172  0.262983       1

[132 rows x 22 columns]

In [14]:
print(data)

         trat  NDVI_d28  SAVI_d28  ...  MCARI1_d08    SR_d08  Classe
0    0.281734  0.798284  1.197380  ...    0.159900  0.094783       1
1    0.000000  0.806955  1.210392  ...    0.400143  0.290298       0
2    0.284830  0.825104  1.237610  ...    0.325847  0.301148       1
3    0.312693  0.788884  1.183279  ...    0.431579  0.311532       1
4    0.318885  0.764986  1.147432  ...    0.194450  0.139388       1
..        ...       ...       ...  ...         ...       ...     ...
127  0.219814  0.750210  1.125268  ...    0.010244  0.004808       1
128  0.216718  0.807576  1.211321  ...    0.191638  0.209505       1
129  0.226006  0.781299  1.171903  ...    0.206367  0.061668       1
130  0.250774  0.760722  1.141037  ...    0.220432  0.111787       1
131  0.253870  0.775178  1.162720  ...    0.367172  0.262983       1

[132 rows x 22 columns]

In [30]:
x_uni = data[['trat', 'NDVI_d28', 'SAVI_d28', 'GNDVI_d28', 'MCARI1_d28', 'SR_d28', 'NDVI_d01', 'SAVI_d01', 'GNDVI_d01', 'MCARI1_d01', 'SR_d01', 'NDVI_d04', 'SAVI_d04', 'GNDVI_d04', 'MCARI1_d04','SR_d04','NDVI_d08', 'SAVI_d08', 'GNDVI_d08', 'MCARI1_d08', 'SR_d08']]
y_uni = data['Classe']

In [32]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier

x_train,x_test,y_train,y_test  = train_test_split(x_uni, y_uni,
                                
                                                    test_size = 0.3, 
                                                    random_state = 2)

In [34]:
print('Training data shape', x_train.shape)
print('Training labels shape', y_train.shape)
print('Test data shape', x_test.shape)
print('Test labels shape', y_test.shape)

Training data shape (92, 21)
Training labels shape (92,)
Test data shape (40, 21)
Test labels shape (40,)

In [35]:
print(x_train.head(),"\n", y_train.head())

         trat  NDVI_d28  SAVI_d28  ...  GNDVI_d08  MCARI1_d08    SR_d08
100  0.993808  0.702853  1.054238  ...   0.632440    0.397127  0.267377
98   0.969040  0.771956  1.157887  ...   0.678242    0.193826  0.273550
91   0.907121  0.768295  1.152399  ...   0.689930    0.489748  0.494280
130  0.250774  0.760722  1.141037  ...   0.627243    0.220432  0.111787
65   0.777090  0.781299  1.171905  ...   0.645064    0.168260  0.189053

[5 rows x 21 columns]
 100    0
98     1
91     0
130    1
65     1
Name: Classe, dtype: int64

Raiz quadrada de 132 (total de amostra) = k 11,48 então k = 11

In [37]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=11)
knn.fit(x_train,y_train)
knn.score(x_test,y_test)

0.85